@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* blue highlight remove */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  /* margin-right: 2rem; */
  padding: 1rem;
  padding-right: 2rem;
}

input[type="time"] {
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* background: transparent; */
  /* background-repeat: no-repeat; */
  /* background-position-x: 100%;
  background-position-y: 50%; */
  /* border: 1px solid #dfdfdf; */
  /* border-radius: 2px; */
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

@import url("leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.label-style {
  @apply text-sm md:text-base;
}

.input-style {
  @apply border border-green-700 focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 rounded-lg p-2 w-full text-sm md:text-base;
}

.input-style-with-condition {
  @apply border focus:outline-none focus:z-10 rounded-lg p-2 w-full;
}

.button-style-with-condition {
  @apply flex text-sm md:text-lg rounded-xl px-8 py-2 text-white;
}

.text-heading {
  @apply text-lg sm:text-2xl font-semibold;
}

.text-subheading {
  @apply text-sm sm:text-lg;
}

.grid-cols-custom {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}